<div class="black">
    <form class="form-inline my_form" action="/sneaker" method="POST">

      <div class="form-group">
        <label class="sr-only" for="size">Size</label>
        <input type="text" name="base_size" class="form-control" id="size" placeholder="10">
      </div>
    <select class="form-control" name="brand_name">
      <%Brand.all.each do |brand|%>
        <option>
          <%=brand.name%>
        </option>
       <%end%>
    </select>

      <button type="submit" class="btn btn-default">Go</button>
    </form>
    <h6>...Where Size DOES Matter</h6>
</div>

<div class="best_sellers">

    <h2>Best Sellers</h2>

  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
  <div class="root_ads">
    <iframe src="http://rcm-na.amazon-adsystem.com/e/cm?t=size05d-20&o=1&p=8&l=as1&asins=B00HRHF93M&ref=tf_til&fc1=000000&IS2=1&lt1=_blank&m=amazon&lc1=0000FF&bc1=000000&bg1=FFFFFF&f=ifr" style="width:120px;height:240px;" scrolling="no" marginwidth="0" marginheight="0" frameborder="0"></iframe>
  </div>
</div>
