<h1>About Us</h1>
<br>
<h3>Mission</h3>
<p class="lead">To create an environment that simplifies the sneaker shopping experience</p>
<br>
<h4>Meet the team</h4>
<h5>Daniel Bushkanets <small>Lead Developer</small></h5>
<p>
  Distillery you probably haven't heard of them Bushwick four loko paleo, salvia Carles gastropub dreamcatcher meggings wayfarers. Viral biodiesel PBR&B, food truck banh mi VHS chambray direct trade McSweeney's raw denim meh. Marfa fanny pack pop-up sartorial four loko. Bicycle rights chambray occupy, YOLO retro freegan fanny pack iPhone raw denim dreamcatcher Echo Park cray direct trade Portland ugh. Keffiyeh fashion axe 3 wolf moon farm-to-table. Viral synth trust fund Cosby sweater fanny pack, ethical fingerstache gastropub messenger bag umami. Beard PBR pork belly next level McSweeney's flannel.
</p>
<p>
  Intelligentsia sriracha cred, readymade retro trust fund shabby chic. Pitchfork lomo pork belly paleo, craft beer wolf DIY Bushwick whatever. Roof party cardigan small batch, twee selvage readymade chillwave. Deep v messenger bag fashion axe beard, Intelligentsia retro slow-carb salvia post-ironic Etsy selvage street art chia cray freegan. Pork belly sartorial mlkshk, jean shorts Schlitz quinoa tattooed vinyl Wes Anderson letterpress banjo Pinterest fingerstache blog bespoke. Keytar mustache gentrify selvage, semiotics locavore twee biodiesel 8-bit ugh slow-carb narwhal forage church-key bespoke. Actually farm-to-table Bushwick polaroid, synth meh Tonx hoodie deep v occupy slow-carb letterpress Carles church-key bespoke.
</p>
<p>
  Fingerstache quinoa master cleanse, craft beer stumptown trust fund Echo Park +1. Banh mi vinyl semiotics pug. Forage fanny pack photo booth bitters roof party Banksy keytar chillwave drinking vinegar fingerstache, wayfarers chambray keffiyeh. Flannel Cosby sweater Austin semiotics, post-ironic cliche meh tofu butcher bitters cardigan viral. 8-bit Portland Blue Bottle farm-to-table, banh mi slow-carb fingerstache whatever skateboard. Fanny pack master cleanse retro, mustache deep v pour-over before they sold out ugh Vice gentrify occupy quinoa four loko American Apparel actually. Wolf bitters sartorial semiotics, sustainable yr food truck.
</p>