<form action="/sneaker/<%=params[:brand_name]%>/<%=params[:base_size]%>" method="GET">

<input type="text" name="base_size" placeholder="10"/>
<input type="text" name="brand_name" placeholder="Nike"/>
<button>submit</button>

</form>