.black {
   text-align: center;
   color: #B00000;

}

.my_form {
  
  width: 373px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


img {
  height: 85px;
  width: 100px;
}

.logos {
  float: left;
  text-align: center;
  height: 300px;
  width: 300px;

}

.index_page {
  margin-top: 40px;
}

.sneaker {
  float: left;
  height: 300px;
  width: 200px;
  padding-right: 50px;
}

.sneaker img {
  width: 100px;
  height: 50px;
}

.brand_name {
  display: block;
  text-align: center;
  margin-right: 225px;
  color: #B00000;
}
.brand_name1 {
  display: block;
  text-align: center;
  margin-right: 228px;
  color: #B00000;
}

iframe.single_ad {
  margin-left: 120px;
}

.best_sellers {
  margin-top: 100px;
  margin-bottom: 50px;
}

/*.best_seller {
  width: 200px;
  float: left;
  padding: 25px;

}*/

.best_seller img {
  height: 60px;
}

.brand_name h3 {
  margin-top: 10px;
}

.brand_name1 h3 {
  margin-top: 10px;
}

.background_form {
  height: 130px;
  width: 500px;
  z-index: -1;
  background-color:rgba(100,100,100,.4);
  border: 3px solid #B00000 ;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;

}
.index_page p {
  color: #B00000;
}

.ad_banner{
  width: 468px;
  margin-left: 350px;
}

.best_seller {
  padding-right: 50px;
}

@media (max-width: 767px) { 
  .ad {
    display: none;
  }
.form-inline.my_form {
    margin-top: 6px;
  }
  .brand_name1 h3 {
    margin-left: 210px;
  }
}

@media (max-width: 1200px) { 
  .ad_banner {
    display: none;
  }
  .single_ad {
    display: none;
  }
  
}