
.black {
   text-align: center;
   color: red;

}

.my_form {
  
  width: 373px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}


img {
  height: 100px;
  width: 100px;
}

.logos {
  float: left;
  text-align: center;
  height: 300px;
  width: 300px;

}

.index_page {
  margin-top: 40px;
}

.sneaker {
  float: left;
  height: 300px;
  width: 200px;
}

.sneaker img {
  width: 100px;
  height: 50px;
}

.brand_name {
  display: block;
  text-align: center;
  margin-right: 225px;
  color: red;
}
.brand_name1 {
  display: block;
  text-align: center;
  margin-right: 228px;
  color: red;
}

iframe.single_ad {
  margin-left: 120px;
}

.best_sellers {
  margin-top: 100px;
  margin-left: 200px;
  margin-bottom: 50px;
}

/*.best_seller {
  width: 200px;
  float: left;
  padding: 25px;

}*/

.best_seller img {
  height: 60px;
}

.brand_name h3 {
  margin-top: 10px;
}

.brand_name1 h3 {
  margin-top: 10px;
}


